[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ecdsa = "*"
grpcio = "*"
grpcio-tools = "*"
bcrypt = "*"
pycrypto = "*"

[dev-packages]

[requires]
python_version = "3.10"
